{%extends 'base.html'%}
{%load static%}
{%block title%}Pagina de inicio sistemas empleados{%endblock title%}

{%block content%}
{%include 'includes/header.html'%}
<!--Bloque de imagen-->
<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <div class="orbit-wrapper">
      <div class="orbit-controls">
        <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
        <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
      </div>
      <ul class="orbit-container">
        <li class="is-active orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{% static 'img/1.jpeg' %}" alt="Space">
            <figcaption class="orbit-caption">Vive la vida antes que la vida te viva</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{% static 'img/2.png' %}" alt="Space">
            <figcaption class="orbit-caption">Gaaaaaaa!</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{% static 'img/3.png' %}" alt="Space">
            <figcaption class="orbit-caption">Ser o no ser</figcaption>
          </figure>
        </li>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <img class="orbit-image" src="{% static 'img/4.jpeg' %}" alt="Space">
            <figcaption class="orbit-caption">Yaret yaret daze</figcaption>
          </figure>
        </li>
      </ul>
    </div>
    <nav class="orbit-bullets">
      <button class="is-active" data-slide="0">
        <span class="show-for-sr">First slide details.</span>
        <span class="show-for-sr" data-slide-active-label>Current Slide</span>
      </button>
      <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
      <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
      <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
  </div>


<!--Bloque de bienvenida-->
<div class="grid-x align-center">
    <h1 class="cell large-8" style="font-size: 25px; text-align:center">Bienvenido humano al sistema de registro de empleados</h1>
    <div class="cell large-7">
        <div class="callout success">
            <h5 style="text-align:center">Pagina hecha por:</h5>
            <p style="text-align:center; font-size: 20px;"><b>DIEGO MANTILLA</b></p>
            <a href="https://github.com/diejango" style="text-align:center">EXCELSIOR</a>
          </div>
    </div>

</div>
    
{%endblock content%}