{%extends 'base.html'%}
{%load static%}
{%block title%}Eliminar Empleado{%endblock title%}
{%block content%}
{%include 'includes/header.html'%}
<div class="grid-container">
    <div class="grid-x"></div>
    <h1 class="cell">Eliminar empleado:{{object.full_name}}</h1>
    <form class="cell" method="post">{%csrf_token%}

        <div class="callout alert" data-closable>
            <h5>Importante!</h5>
            <p>Esta apunto de eliminar el empleado de la base de datos</p>
            <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
              <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <button type="submit" class="alert button">borrar</button>
    </form>
</div>
{%endblock content%}

